/* $Id: printlinks.css,v 1.1.2.6 2009/06/04 23:08:43 jcnventura Exp $ */

.print-link {
  /* Use these for links above the content */
  display: block;
  text-align: right;
  padding-bottom: 0.5em;
  /* Use these for links in a corner of the content */
  /*
  position:relative;
  bottom: 0.5em;
  float:right;
  */
}

div#block-print-0 span {
  display: block;
}

.print_html, .print_mail, .print_pdf {
  margin-left: 1em;
}

.print-syslink {
  margin-right: 1em;
}

img.print-icon {
  vertical-align: middle;
}

img.print-icon-margin {
  padding-right: 4px;
}

label.printmail-label {
  width: 175px;
  float: left;
}

/*
     FILE ARCHIVED ON 22:57:59 Feb 22, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:28:58 Oct 07, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/