body {background-color=white}


div.title {margin-top: 20px; margin-bottom: 20px;}
div.title h1 {color: olive; text-align:center;}
div.title h2 {color: olive; text-align:center; 
  font-style:italic;}
div.title h3 {text-align:center}
div.title p {text-align:center; margin-top: 10px;}

div.toc {margin: 10px;}
div.toc h1 {text-align:center;}
div.toc table {align:center;}
div.toc td {text-align:center;  vertical-align: top;}

div.chapter {margin: 10px;}
div.chapter h1 {margin-top: 20px; margin-bottom: 10px;}
div.chapter h1 {color: olive; text-align: center}
div.chapter p {text-indent:  text-align:justify;}
div.chapter p.scenebreak {text-align:center; margin-top: 10px; 
  margin-bottom: 20px;}
div.chapter p.spacer {margin-top: 20px; margin-bottom: 10px;}

div.memo {font-family:sans-serif;}
div.memo table.memoheader th {text-align:left; vertical-align: top;
  padding-bottom:1em;}
div.memo table.memoheader td {text-align:left; vertical-align: top;
  padding-bottom:1em;}
div.memo p.memodefault {text-indent: 0; margin-bottom: 1em; 
  text-align:justify;}
div.memo p.memosig {text-indent: 0; margin-bottom: 1em; 
  text-align:justify;}
div.memo li {text-indent: 0; margin-bottom: 1em; 
  text-align:justify;}
div.memo p.memoquote {text-indent: 0; margin-bottom: 1em; 
  margin-left: 20px; margin-right:20px; text-align:justify;}
div.memo p.memolistdefault {text-indent: 0; margin-bottom: 1em; 
  text-align:justify;}
div.memo table.memotable {text-indent: 0; margin-bottom: 1em; 
  text-align:left; margin-right:auto; 
  margin-left:auto; border:1px black solid;}
div.memo table.memotable td {text-indent: 0; margin-bottom: 1em; 
  text-align:left;margin-right:auto; 
  margin-left:auto; border:1px black solid; padding:3px;}

div.chapter hr {margin-bottom: 1em; margin-top:20px; 
  margin-left:20px; margin-right:20px;}





/*
     FILE ARCHIVED ON 20:29:48 Feb 09, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:58:54 Nov 15, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 141.674 (3)
  esindex: 0.017
  captures_list: 199.05
  CDXLines.iter: 12.436 (3)
  PetaboxLoader3.datanode: 96.404 (5)
  exclusion.robots: 0.19
  exclusion.robots.policy: 0.178
  RedisCDXSource: 40.777
  PetaboxLoader3.resolve: 289.149 (4)
  load_resource: 321.167
*/