body {background-image: url('parchment9.jpg');}


div.title {margin-top: 240px; margin-bottom: 240px;}
div.title h1 {color: olive; text-align:center;}
div.title h2 {color: olive; text-align:center; 
  font-style:italic;}
div.title h3 {text-align:center}
div.title p {text-align:center; margin-top: 80px;}

div.toc {margin: 100px;}
div.toc h1 {text-align:center;}
div.toc table {align:center;}
div.toc td {text-align:center;  vertical-align: top;}

div.chapter {margin: 80px;}
div.chapter h1 {margin-top: 240px; margin-bottom: 60px;}
div.chapter h1 {color: olive; text-align: center}
div.chapter p {text-indent: 2em; margin-bottom: -0.65em; 
  text-align:justify;}
div.chapter p.scenebreak {text-align:center; margin-top: 20px; 
  margin-bottom: 20px;}
div.chapter p.spacer {margin-top: 40px; margin-bottom: 40px;}
div.chapter hr {margin-bottom: 1em; margin-top:50px; 
  margin-left:50px; margin-right:50px;}

div.memo {font-family:sans-serif;}
div.memo table.memoheader th {text-align:left; vertical-align: top;
  padding-bottom:1em;}
div.memo table.memoheader td {text-align:left; vertical-align: top;
  padding-bottom:1em;}
div.memo p.memodefault {text-indent: 0; margin-bottom: 1em; 
  text-align:justify;}
div.memo p.memosig {text-indent: 0; margin-bottom: 1em; 
  text-align:justify; font-style:italic;}
div.memo li {text-indent: 0; margin-bottom: 1em; 
  text-align:justify;}
div.memo p.memoquote {text-indent: 0; margin-bottom: 1em; 
  margin-left: 50px; margin-right:50px; text-align:justify;}
div.memo p.memolistdefault {text-indent: 0; margin-bottom: 1em; 
  text-align:justify;}
div.memo table.memotable {text-indent: 0; margin-bottom: 1em; 
  text-align:left; margin-right:auto; 
  margin-left:auto; border:1px black solid;}
div.memo table.memotable td {text-indent: 0; margin-bottom: 1em; 
  text-align:left;margin-right:auto; 
  margin-left:auto; border:1px black solid; padding:3px;}





/*
     FILE ARCHIVED ON 20:22:34 Feb 09, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:58:54 Nov 15, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 166.778 (3)
  esindex: 0.007
  captures_list: 185.941
  CDXLines.iter: 15.462 (3)
  PetaboxLoader3.datanode: 142.681 (5)
  exclusion.robots: 0.252
  exclusion.robots.policy: 0.237
  RedisCDXSource: 0.542
  PetaboxLoader3.resolve: 284.337 (3)
  load_resource: 335.726
*/
