




/*
     FILE ARCHIVED ON 10:41:42 Jul 15, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 5:50:03 Sep 5, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
body, table
{
	font-family: "Georgia", "Times New Roman", "Times Roman", "Times", serif;
	font-size: 12pt;
	background-color: rgb(255,255,204);
	background-image: url("parchment9.jpg");
}

table.grammar
{
	border: black thin solid;
	width: 100%;
}

table.elgin
{
	border: black medium double;
	width: 100%;
}

table.morpheme
{
	border: gray thin solid;
}

table tr
{
	vertical-align: top;
}

H1
{
	font-size: 24pt;
	font-weight: 700;
	text-align: right;
}

H2
{
	font-size: 18pt;
	font-weight: 700;
}

H3
{
	font-size: 15pt;
	font-weight: 700;
	margin-bottom: 0;
}

H4
{
	/*
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", "Helv", sans-serif;
	*/
	font-weight: normal;
	font-size: 15pt;
	text-align: center;
	margin-top: 0;
}

P
{
	text-indent: 2pc;
}

P.la, P.lav, SPAN.la, P.lat
{
	/*
	font-family: "Comic Sans MS", "Comic Sans", "Courier", monospace;
	font-weight: 400;
	*/
	color: blue;
	background-color: white;
	font-weight: 600;
}

P.en, P.env, SPAN.en, P.ent
{
	/*
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", "Helv", sans-serif;
	font-weight: 700;
	*/
	color: red;
	background-color: white;
	font-weight: 600;
}

P.bk, P.bkv, P.bkvr, SPAN.bk
{
	/*font-family: "Georgia", "Times New Roman", "Times Roman", "Times", serif;*/
	color: black;
	background-color: transparent;
	font-weight: 400;
}

P.mov, SPAN.mo
{
	/*
	font-family: "Verdana", "Geneva", "Arial", "Helvetica", "Helv", sans-serif;
	font-variant: small-caps;
	font-weight: 700;
	*/
	color: fuchsia;
	background-color: white;
	font-weight: 600;
}

P.lat, P.ent
{
	text-align: center;
	text-indent: 0;
	font-size: 15pt;
}

P.lav, P.env, P.bkv, P.v, P.bkvr, P.mov
{
	text-indent: 0;
	margin-top: 0;
	margin-bottom: 0;
}

P.bkvr
{
	text-align: right;
}

