
/* $Id: style.css,v 1.23 2007/12/17 15:05:09 goba Exp $ */

#wm-ipp { display: none !important; }

/*
** HTML elements
*/
body {
  margin: 0;
  padding: 0;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}
tr.odd td, tr.even td {
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
  font-style:italic;
}
h3 {
  font-size: 1.1em;
}
h4, h5, h6 {
  font-size: 1.1em;
  font-style:italic;
}
p {
  margin-top: 5px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
}
a:visited {
}
a:hover {
  text-decoration: underline;
}
li a.active {
	font-style:italic;
}
fieldset {
}
pre {
  padding: 5px 5px;
  font-size: 12px;
}
blockquote {
	padding: 5px 10px;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
  border-collapse: separate;
}
.form-item label {
  font-size: 1em;
}
.item-list .title {
  font-size: 1em;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/
#header, #content {
}

#header {
}
#logo {
  vertical-align: middle;
  border: 0;
 }
#logo img {
  float: left; /* LTR */
  padding: 0 10px;
  border: 0;
}
#menu {
  padding: 5px 5px 0 5px; /* LTR */
  text-align: right; /* LTR */
  vertical-align: middle;
}
#navlist {
  font-size: 1.0em;
  padding: 0 5px 5px 0; /* LTR */
}
#navlist a {
  font-weight: bold;
}
#subnavlist {
  padding: 5px 5px 5px 0; /* LTR */
  font-size: 0.8em;
}
#subnavlist a {
  font-weight: bold;
}
ul.links li {
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 50px;
  padding: 0 5px;
}
#mission {
  padding: 10px 2|px;
}
#mission a, #mission a:visited {
  font-weight: bold;
}
.site-name {
  margin: 5px 0 0 ;
  padding: 0;
  font-size: 2.5em;
  font-style:italic;
}
.site-name a:link, .site-name a:visited {
}
.site-name a:hover {
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 10px;
}
.breadcrumb {
  margin-bottom: 10px;
}
.messages {
  padding: 5px;
  margin-bottom: 10px;
}
.error {
}
#sidebar-left, #sidebar-right {
width: 200px;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;  
  vertical-align: top;
}
#footer {
  padding: 10px;
  font-size: 0.8em;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  font-size: 0.8em;
}
.links {
}
.links a {
  font-weight: bold;
}
.box {
  padding: 0 0 15px 0; /* LTR */
}
.block {
/*  padding-bottom: 0.75em;  */
  margin-bottom: 10px;
}
.block .title {
/*  margin-bottom: .25em; */
	padding: 5px 10px 10px 10px;
}
.block .content {
/*  margin-bottom: .25em;  */
  padding: 5px 10px 10px 10px; 
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: 5px 0 20px; /* LTR */
}
.sticky {
  padding: 5px;
}
.node .content, .comment .content {
  margin: 5px 0 5px;
}
.node .taxonomy {
  font-size: 0.8em;
  padding-left: 15px; /* LTR */
}
.node .picture {
  float: right; /* LTR */
  margin: 5px;
}
.comment {
  padding: 5px;
  margin-bottom: 10px;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right; /* LTR */
  font-weight: bold;
  font-size: 0.8em;
  float: right; /* LTR */
}
.comment .picture {
  float: right; /* LTR */
  margin: 5px;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  padding: 10px;
  margin: 10px 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 5px;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 10px;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 5px;
}
#forum td.forum, #forum td.posts {
}
#forum td.topics, #forum td.last-reply {
}
#forum td.container {
}
#forum td.container a {
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
}
#forum td .name {
}
#forum td .links {
  padding-top: 7px;
  font-size: 9px;
}
#profile .profile {
  clear: both;
  padding: 5px;
  margin: 10px 0;
}
#profile .profile .name {
  padding-bottom: 5px;
}
.block-forum h3 {
  margin-bottom: 5px;
}
div.admin-panel .description {
}
div.admin-panel .body {
}
div.admin-panel h3 {
  padding: 5px 8px 5px;
  margin: 0;
}


/*
** Background Color  Specs
*/
body {
  width:100%;
background: #fff url(../IMAGES/background.jpg) fixed repeat;
}
#main {
	background-color: #fefdfa;
}
/* #block-search-0, #block-user-1 {
background-color:white;
} */
#block-search-0 .title, #block-user-0 .title, #block-user-1 .title, #block-user-3 .title, #block-user-2 .title, #block-menu-menu-submenu .title, #block-views-whats_new-block_1 .title,  #block-views-latest_update-block_1 .title, #block-blog-0 .title {
 background: transparent url(../IMAGES/left-title.gif) no-repeat;
/*    background-color: #FFCC00; */
	padding: 10px 10px 10px 10px;
	font-style:normal;
	font-weight:bold;
}
#block-user-1 .content, #block-user-0 .content, #block-user-2 .content, #block-user-3 .content, #block-search-0 .content, #block-menu-menu-submenu .content, #block-views-whats_new-block_1 .content, #block-views-latest_update-block_1 .content, #block-blog-0 .content {
  background: transparent url(../IMAGES/left-block-bottom.gif) no-repeat scroll left bottom;  
	padding: 5px 10px 10px 10px;  

} 
#mission {
  background-color: #e6cdb1;
}
.messages {
  background-color: #96b2c0;
}
#logobar {
/*  background: #fff url(/web/20120726105837im_/http://www.laadanlanguage.org/pages/sites/all/themes/bluemarine/images/sf_womensday_bg_02.jpg) repeat; */
 }
#logo {
 }
#menu {
}
#sidebar-left {
 /*background: #fff url(../IMAGES/left-bar.jpg) repeat;*/
/* background-color:white; */
}
#sidebar-right {
 /*background: #fff url(../IMAGES/sf_womensday_bg_01.jpg) repeat;*/
/*  background-color:transparent; */
}
#footer {
  background-color: #ffd8aa;
}
pre {
  background-color: #fdeed5;
}
blockquote {
	background-color: #e6f7ed;
	}
.sticky {
/*  background-color: #fdeed5; */
    background-color: #dff1e9;
}
#aggregator .feed-source {
  background-color: #ffe3cd;
}
#forum td.forum, #forum td.posts {
  background-color: #ffe3cd;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ffe3cd;
}
#forum td.container {
  background-color: #ffe3cd;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #ffe3cd;
}
tr.odd {
background-color: #fef5f2;
}
tr.even {
background-color: #ffe3cd;
}

/*
** Text Color  Specs
*/
body {
  color: #000;
}
a:link {
  color: #1c5f39;
}
a:visited {
  color: #1c5f39;
}
a:hover {
  color: #55916f;
}
a:active {
  color: #194154;
}
li a.active, li a.link, li a.visited {
  color: #1c5f39;
}
li a.hover {
  color: #55916f;
}
.form-item label {
  color: #000;
}
.item-list .title {
  color: #000;
}
#navlist {
  color: #1c5f39;
}
#navlist a {
  color: #1c5f39;
}
#subnavlist {
  color: #55916f;
}
#subnavlist a {
  color: #55916f;
}
#mission {
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
}
.site-name a:link, .site-name a:visited {
  color: #1c5f39;
}
.site-name a:hover {
  color: #194154;
}
.site-slogan {
  color: #853A27;
}
.title, .title a {
  color: #1c5f39;
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.node .taxonomy {
  color: #999;
}
.comment .new {
  color: red;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
}
#forum td.container a {
  color: #555;
}
#forum td .name {
  color: #96c;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
}
div.admin-panel h3 {
  color: #000;
}


/*
** Border Color  Specs
*/
ul.links li {
  border-left: 1px solid #9cf; /* LTR */
}
.error {
  border-color: red;
}
pre, blockquote, .sticky {
  border: 1px solid #ddd;
}
fieldset {
  border: 1px solid #ccc;
}
ul.links li {
  border-left: 1px solid #55916f; /* LTR */
}
.error {
  border-color: red;
}
.node .picture {
  border: 1px solid #ddd;
}
.comment {
  border: 1px solid #abc;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
}
.messages {
  border: 1px solid #ccc;
}
.comment .picture {
  border: 1px solid #abc;
}
#aggregator .feed-source {
  border: 1px solid #ccc;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  border: 1px solid #bbb;
}
#profile .profile {
  border: 1px solid #abc;
}

#lesson td {
background-color: #fefdfa;
}
/*
     FILE ARCHIVED ON 10:58:37 Jul 26, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:40:43 Oct 07, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
