body { background: #fff; }
header { }
section.page-container { position: relative; }
section.page-nav { width: 200px; position: absolute; left: 0; top: 0; z-index: 1; }
section.page-view { width: 100%; position: absolute; left: 0; top: 0; z-index: 0; }
section.page-view .page-frame, footer { margin-left: 210px; }

/* Layout */
/*nav ul { list-style-image: url('../images/webpage/bullet.png'); }*/
nav ul { list-style-type: none; padding-left: 10px; }
nav ul li { margin-bottom: 5px; }

h1 { padding: 0; margin: 0; }

/* Colors */
header {}
.page-container {}
.page-nav { background: #fffbe5; border: solid 1px #cfcab7; border-radius: 15px; }
nav { border: solid 1px #cfcab7; border-radius: 15px; margin: 5px; }

nav h3 { border-bottom: solid 2px #004b8a; background: #008bff; padding-left: 5px; color: #fff; }

.page-content h2 { border-bottom: solid 2px #b9ac66; background: #e0d7a7; padding-left: 5px; color: #004b8a; }

nav ul li a { font-weight: bold; text-decoration: none; color: #004b8a; }
nav ul li a:hover { font-weight: bold; text-decoration: none; color: #008bff; }
nav a img { width: 16px; height: 16px; }
.page-view {}
.page-content {}
footer {}

.page-frame { background: #fffbe5; border: solid 1px #cfcab7; border-radius: 15px; }
.page-content { border: solid 1px #cfcab7; border-radius: 15px; margin: 5px; }

h1 { color: #fc595c; }

/* Fonts */
nav { font-family: 'KoHo', sans-serif; }
h1 { font-family: 'Baloo Bhaijaan', cursive; font-size: 40pt; }

.page-content h2 { font-family: 'KoHo', sans-serif; font-size: 23pt; }











.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
