    body { background: #2b3262; font-family: sans-serif; }
    body a { color: #042283; text-decoration: none; }

    header { font-family: sans-serif; }
    header .logo { width: 40%; text-align: center; }
    header .text { width: 55%; }

    header .logo img { width: 95%; }
    header .text,
    header .text a { }
    header .logo,
    header .text { float: left; }
    header .text .site-title { font-weight: bold; font-size: 11pt; }
    header .text .site-motto { font-size: 7pt; font-style: italic; }
    header .text .site-link { font-size: 8pt; }

    footer { font-size: 8pt; }

    hr { height: 1px; width: 95%; margin: 5px auto; background: #aaa; border: none; }

    .window { border: solid 1px #000; background: #fff; margin: 5px; }
    .window .header {
        /* BACKGROUND */
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0fb6fa+0,0a73d1+100 */
        background: #0fb6fa; /* Old browsers */
        background: -moz-linear-gradient(top, #0fb6fa 0%, #0a73d1 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #0fb6fa 0%,#0a73d1 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #0fb6fa 0%,#0a73d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fb6fa', endColorstr='#0a73d1',GradientType=0 ); /* IE6-9 */

        font-weight: bold;
        text-align: center;
        color: #fff;
        font-family: sans-serif;

        border-bottom: solid 1px #000;
        position: relative;
    }
    .window .header .x-icon,
    .window .header .bar-icon { position: absolute; right: 0; top: 0; }
    .window .header .x-icon img,
    .window .header .bar-icon img { height: 16px; cursor: pointer; }
    .window .header .bar-icon { display: none; }
    
    .window .contents { margin: 5px; }
    .window .contents .icons { list-style-type: none; padding: 0; margin: 0; }
    .window .contents .icons li { float: left; margin: 10px; }

    .window.news .date { text-align: right; font-size: 10pt; }

    nav { width: 100%; }
    nav .icons img { width: 75%; }
    main { width: 100%; }

    .static-nav { position: absolute; width: 235px; }
    .resizable-main { padding-left: 245px; padding-right: 10px; }

    /* http://nicolasgallagher.com/micro-clearfix-hack/ */
    .cf:before,
    .cf:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .cf:after {
        clear: both;
    }

    /* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip */
    .tooltip {
      position: relative;
      display: inline-block;
    }

    .tooltip .tooltiptext,
    footer .tooltip .tooltiptext {
      visibility: hidden;
      background-color: #fff;
      color: #000;
      text-align: left;
      padding: 5px;
      border: solid 1px #000;
      font-family: sans-serif;

      /* Position the tooltip */
      position: absolute;
      top: 0px;
      left: 50px;
      z-index: 1;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }

    
    .row-container .col-25 { float: left; width: 25%; }
    .row-container .col-10 { float: left; width: 10%; }
    .row-container .col-90 { float: left; width: 90%; }
    .row-container .col-50 { float: left; width: 50%; }
    .row-container .col-75 { float: left; width: 75%; }
    .row-container .col-33 { float: left; width: 33%; }
    .row-container .col-66 { float: left; width: 66%; }
    .row-container .col-20 { float: left; width: 20%; }
    .row-container .col-80 { float: left; width: 80%; }
    .row-container .preview-image { text-align: center; }
    .row-container .preview-image img { width: 95%; }

    .preview-pane .title { font-size: 13pt; font-weight: bold; }
    .preview-pane .author { font-size: 13pt; }
    .preview-pane .date { font-size: 8pt; }

    .contents { margin: 5px; }

    .section { border-top: solid 5px #ffc000; }
    .section .header-tab { background: #ffc000; }

    .scroll-view { width: 100%; overflow-y: scroll; }

    .quick-searcher input[type=text]    { width: 95%; font-size: 14pt; margin: 5px auto; }
    .quick-searcher input[type=button]  { width: 95%; font-size: 14pt; margin: 5px auto; }
    .quick-searcher textarea            { width: 95%; font-size: 10pt; margin: 5px auto; overflow-y: scroll; height: 100px; }

    input[type=text],
    textarea { background: #fff; border: solid 2px #000; border-radius: 5px; }
    input[type=button] { background: #ffc000; font-weight: bold; border: outset 2px #98750b; border-radius: 5px; }
    table { width: 100%; border: none; text-align: left; margin: 10px; }
    table tr td { border-bottom: solid 1px #ddd; padding: 5px; }
    blockquote { border-left: solid 2px #aaa; padding: 10px; font-family: serif; background: #eee; }

    /*.quick-searcher .search-results { display: none; }*/
    .quick-searcher .entry { margin: 10px 0; }
    .quick-searcher .entry .conlang { font-weight: bold; }
    .quick-searcher .entry .english {}
    .quick-searcher .entry .description {}
    .quick-searcher .entry .conlang,
    .quick-searcher .entry .english,
    .quick-searcher .entry .description { padding: 0; margin: 0; }
    
    @media only screen and (max-device-width: 480px) {
        .static-nav { position: relative; width: 100%; }
        .resizable-main { padding: 0px; width: 100%; }
        .resizable-main .window { margin-right: 10px; }

        nav .window .header .bar-icon { display: block; }
        nav .window .header .x-icon { display: none; }

        nav .window .contents { display: none; }
        
        .row-container .col-25 { float: none; width: 100%; }
        .row-container .col-10 { float: none; width: 100%; }
        .row-container .col-75 { float: none; width: 100%; }
        .row-container .col-90 { float: none; width: 100%; }
        .row-container .col-50 { float: none; width: 100%; }
        .row-container .col-33 { float: none; width: 100%; }
        .row-container .col-66 { float: none; width: 100%; }
        .row-container .col-20 { float: none; width: 100%; }
        .row-container .col-80 { float: none; width: 100%; }

        .window .header { font-size: 20pt; height: 50px; }
        .window .header .x-icon img,
        .window .header .bar-icon img { height: 50px; }
    }
