.aya-container { width: 100%; }
.aya-container .left-sidebar{ width: 200px; position: absolute; left: 10px; top: 10px; }
.aya-container .left-sidebar .logo { text-align: center; margin-top: 10px; }
.aya-container .left-sidebar .logo img { width: 90%; }
.aya-container .main-view { margin-left: 250px; }
footer { margin-left: 200px; margin-right: 10px; }

footer ul li ul { margin-left: 20px; }

nav ul li,
nav h2,
nav h3,
nav p,
nav h4 { padding-left: 10px; }

.container .row hr { display: block; clear: both; border: none; width: 100%; height: 1px; background: #ccc; }

nav { padding: 0; width: 100%; margin: 0; }

nav h3 { margin-top: 30px; }
nav.sub-links { padding-left: 0; }
nav ul { padding: 0; margin: 0; }
nav ul li {  margin-top: 5px; margin-bottom: 5px; }
nav h4 { margin-top: 15px; }
footer { padding-top: 40px; }
nav hr { height: 5px; border: none; background: #ffc000; width: 90%; margin-top: 30px; margin-bottom: 0px; margin-left: auto; margin-right: auto; }
.view-more { text-align: right; }
nav li img { height: 30px; }

.mobile-sidebar .nav-section .collapsed { display: none; }

/* Colors and Appearance */
.left-sidebar,
.mobile-sidebar { background: #67d4ff; color: #042283; border: solid 5px #2d8eb5; }
.left-sidebar a,
.mobile-sidebar a { color: #042283; }
.left-sidebar a:hover,
.mobile-sidebar a:hover { color: #042283; }
.main-view { background: #ffffff; color: #042283; padding-bottom: 100px; }
.footer { background: #042283; color: #ffffff; }
.left-sidebar nav ul { list-style-type: none; }
.left-sidebar nav ul li:hover { background: #ffc000; width: 100%; }
.left-sidebar nav { font-size: 1em; }
.left-sidebar nav.sub-links { font-size: 0.8em; }
.left-sidebar h3 { font-size: 1em; border-bottom: solid 2px #ffc000; font-weight: bold; }
footer { border-bottom: solid 5px #00124c; border-left: solid 5px #00124c; border-right: solid 5px #00124c; border-top: solid 5px #ffc000; }

.special-banner {}
.special-banner.esperanto { background: #009900; color: #ffffff; }

footer { background: #042283; color: #fff; font-size: 9pt; padding-bottom: 50px; }
footer a,
footer a:hover { color: #fff; }

footer ul { list-style-type: square; padding: 0; margin: 0; }

/* Grid items */
.language-videos.row,
.arcade-games.row,
.grid-view.row { padding-bottom: 20px; }
.language-videos .video-item,
.language-videos .game-item
.grid-item, {  }
.language-videos .video-item img,
.grid-item img { width: 100%; }
.language-videos .video-item p,
.grid-item p { margin: 0; }
.language-videos .video-item p.title,
.grid-item p.title { font-weight: bold; }
.language-videos .video-item p.date,
.grid-item p.date { font-size: 0.8em; }
.language-videos .video-item p.author,
.grid-item p.author {  }
.quick-nav { background: #ffc000; margin: 20px 10px; padding: 10px; border: solid 2px #997507; }
.quick-nav a { margin-left: 20px; color: #000000; font-weight: bold; }
.view-all-link { text-align: right; }

.comics-box { margin: 5px 2px; padding: 2px; height: 250px; overflow-y: hidden; }

/* Arcade */
.arcade { text-align: center; }
.arcade iframe
{
    margin-left: auto;
    border: none;
}

iframe { border: none; }

ul.link-listings { margin-top: 50px; list-style-type: none; }
ul.link-listings li { height: 80px; font-size: 1.3em; }
ul.link-listings li img { margin-right: 20px; width: 70px; }

section.game-list { width:95%; margin-bottom: 50px; }
section.game-list .top-header { }

section.game-list .game-item { height: 250px; text-align: center; }
section.game-list .game-item img { width: 100%; }
section.game-list .game-item p { padding: 0; margin: 0; }
section.game-list .game-item .title { font-size: 1.5em; }
section.game-list .game-item .title.small-text { font-size: 1.0em; }
section.game-list.links .game-item { height: 150px; }

.under-construction-message { font-size: 10pt; background: #a1d0ff; padding: 5px; }

.navbar-toggler-icon { background: #f00; }

ul {  }
ul.checklist li:before { content: '✓'; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Another try... */

.aya-body {
    padding: 0;
    margin: 0;
}

.aya-top-bar {
    width: 100%;
    height: 20px;
}

.aya-thirds-container {
    width: 100%;
    position: relative;
}

.aya-left-third {
    position: absolute;
    left: 0;
    width: 15%;
    background: #67d4ff;
}

.aya-mobile-nav {
    width: 100%;
    background: #67d4ff;
    text-align: center;   
}

.aya-mobile-nav ul {
    list-style-type: none;
}

.aya-mobile-nav ul li {
    float: left;
    margin-left: 10px;
}

.aya-left-third a,
.aya-mobile-nav a { color: #042283; }

.aya-left-third a:hover,
.aya-mobile-nav a:hover { color: #042283; }

.aya-mobile-nav { display: none; }

.aya-left-third nav ul { list-style-type: none; }
.aya-left-third nav ul li:hover { background: #ffc000; width: 100%; }
.aya-left-third nav { font-size: 1em; }
.aya-left-third nav.sub-links { font-size: 0.8em; }

.aya-left-third nav {
    font-size: 1.2em;
    font-weight: bold;
}

img.aya-logo {
    width: 95%;
    max-width: 150px;
}

.aya-centered {
    text-align: center;
}

.aya-title,
.aya-motto,
.aya-link {
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h3 img { margin-right: 10px; }

.aya-main-view      {
    position: absolute;
    left: 0;
    width: 100%;
    padding-left: 16%;
    padding-right: 16%;
}

.aya-right-third    {
    position: absolute;
    right: 0;
    width: 15%;
}

.aya-left-third,
.aya-right-third {
    overflow: hidden;
}

.aya-footer { font-size: 9pt; padding-top: 50px; padding-bottom: 50px; margin-top: 50px; border-top: solid 2px #ccc; }
.aya-footer a,
.aya-footer a:hover {  }

ul.aya-social-media {
    list-style-type: none;
}

ul.aya-social-media li { float: left; }

@media only screen and (max-width: 600px) {
    .aya-left-third {
        display: none;
    }

    .aya-right-third {
        display: none;
    }

    .aya-main-view {
        padding: 5px;
    }

    .aya-mobile-nav {
        display: block;
    }
}

.blog-feed-raw img {
    max-height: 200px;
    max-width: 100%;
    height: auto;
    width: auto;
}

.aya-blog-preview {
    margin-top: 50px;
}

label.aya-small-tool-text {
    font-size: 8pt;
}

.aya-spacer { height: 10px; }
/* asdf */


.aya-subpage-banner,
.aya-subpage-banner img { text-align: center;  }

.aya-subpage-banner {
    margin-top: 10px;
    margin-bottom: 20px;
}

.typewriter {
    font-family: monospace;
}

.aya-expandable .aya-header {
    width: 100%;
    background: #BDF1FF;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

.aya-expandable .aya-hidden {
    display: none;
}

/* Quick Dictionary styling */

.aya-search-results .entry .conlang {
    font-weight: bold;
    width: 100%;
    background: #BDF1FF;
}

.aya-search-results .entry .english, {
.aya-search-results .entry .description {
    font-size: 0.9em;
}

.aya-search-results {
    /* height: 200px; */
    /* overflow-y: scroll; */
    display: none;
}

.aya-search-results .entry {
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
}

.aya-search-results .entry p {
    padding: 0;
    margin: 0;
}

blockquote {
    padding-left: 25px;
    font-family: serif;
}
